<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title th:text="'User profile: ' + ${player.getName()}">User profile: Name</title>
</head>
<body>
<h1>Hello, <span th:text="${player.getName()}">Name</span></h1>
<p> Your age is <span th:text="${player.getAge()}">Age</span></p>
<p> Your Nickname is <span th:text="${player.getNickname()}">Nickname</span></p>
<p> Your email is <span th:text="${player.getEmail()}">Email</span></p>
<p> Your hash is <span th:text="${player.getHash()}">Hash</span></p>
</body>
</html>